RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^Libro/(.+) php/visorLibro.php?titulo=$1 [L]
RewriteRule ^Libro/ php/visorLibro.php [L]
RewriteRule ^Novedades/ php/visorNovedades.php [L]
RewriteRule ^UltimosSubidos/ php/visorUltimosSubidos.php [L]
RewriteRule ^MejorVotados/ php/visorMejorVotados.php [L]
RewriteRule ^Inicio index.php [L]
RewriteRule ^Preguntas/(.+) php/preguntas.php?pagina=$1 [L]
RewriteRule ^AvisoLegal/(.+) php/avisoLegal.php?pagina=$1 [L]
RewriteRule ^Amigo/ php/ver_amigo.php [L]
RewriteRule ^Usuario/ php/index_usuario.php [L]
RewriteRule ^Administrador/ php/index_administrador.php [L]
RewriteRule ^Noticias/ php/Noticias.php [L]
RewriteRule ^Concursos/ php/Concursos.php [L]
RewriteRule ^TopDevoralibros/ php/TopDevoralibros.php [L]
RewriteRule ^Relatos/(.+) php/Relatos.php?autor=$1 [L]
RewriteRule ^Buscador/ php/buscador.php [L]
RewriteRule ^BuscadorAvanzado/ php/buscadorAvanzado.php [L]
RewriteRule ^FormularioEnvioContraseña/ php/envioContrasena.php [L]
RewriteRule ^FormularioRegistro/ php/registrate.php [L]
RewriteRule ^FormularioInicioSesion/ php/iniciar_sesion.php [L]
RewriteRule ^FormularioEditarUsuario/ php/modificaTusDatos.php [L]
RewriteRule ^FormularioEnviarInvitacion/ php/formularioEnviarInvitacion.php [L]
RewriteRule ^FormularioEditarLibro/ php/modificarLibro.php [L]
RewriteRule ^FormularioEditarResumen/ php/modificarLibroResumen.php [L]
RewriteRule ^FormularioEditarLista/ php/modificarLista.php [L]
RewriteRule ^FormularioEditarComentario/ php/modificarComentario.php [L]
RewriteRule ^FormularioEditarNoticia/ php/modificarNoticia.php [L]
RewriteRule ^FormularioEditarRelato/ php/modificarRelato.php [L]
RewriteRule ^FormularioEditarLibreria/ php/modificarLibreria.php [L]
RewriteRule ^FormularioEditarConcurso/ php/modificarConcurso.php [L]
RewriteRule ^FormularioSubirLibro/ php/SubirLibro.php [L]
RewriteRule ^FormularioSubirNoticia/ php/SubirNoticia.php [L]
RewriteRule ^EditarUsuarios/ php/EditarUsuarios.php [L]
RewriteRule ^FormularioSubirConcurso/ php/SubirConcurso.php [L]
RewriteRule ^FormularioSubirRelato/ php/SubirRelato.php [L]
RewriteRule ^FormularioComentarLibro/ php/realizaComentario.php [L]
RewriteRule ^FormularioVotarLibro/ php/realizaVotacion.php [L]
RewriteRule ^Error404/ /errores/404.php [L]

RewriteBase /
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.devoralibros.es/$1 [R,L]

#Errores
ErrorDocument 400 /errores/400.php
ErrorDocument 403 /errores/403.php
ErrorDocument 404 /errores/404.php
ErrorDocument 500 /errores/500.php
ErrorDocument 503 /errores/503.php