/**
* Archivo CSS para dar estilo a los formularios.
* @author   Miguel Costa.
*
*/

body {
    font-family: 'Pathway Gothic One', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: url("../img/libroFormulario.jpg") fixed;
    background-size: cover;
}

h1, h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
    font-family: 'Pathway Gothic One', Helvetica, sans-serif;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    font-family: 'Pathway Gothic One', Helvetica, sans-serif;
}

h3.error {
    color: red;
}

h3.noerror {
    color: blue;
}

img { max-width: 100%; }

label {
    font-size: 18px;
    width: 100%;
    text-align: left;
}

.derecha {
  float: right;
}

.izquierda {
  float: left;
}

.derecha img {
  width: 80px;
  padding-top: 10px;
}

.derecha img:hover{
	width: 100px;
  	transition: width 0.5s;
}

.container {
    width: 100%;
    min-width: 250px;
    margin: 0 auto;
  	margin-top: -80px;
}

p.listadoUsuarios {
  	font-size: 17px;
}

p.listadoUsuarios .fa {
  	font-size: 20px;
  	color: #7892c2;
}

p.listadoUsuarios .fa:hover {
  	color: blue;
}

h3.nombreListadoUsuarios {
  	font-size: 20px;
  	margin-top: 8px;
}

#errores {
    color: red;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

#errores h3 {
    color: red;
}

::-moz-selection { background: #4aaf51; color: #fff; text-shadow: none; }
::selection { background: #4aaf51; color: #fff; text-shadow: none; }


.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #4aaf51;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 0 0 50px 0;
    margin-top: 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.9; }

.top-content .description a {
    color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    opacity: 0.9;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 100%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 45px 30px 25px;
    background: #eee;
    opacity: 0.9;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 60%;
    cursor: pointer;
    min-width: 140px;
    margin-top: 15px;
}

.form-bottom form .input-error {
    border-color: #4aaf51;
}

label .fa {
    color: #7892c2;
    font-size: 20px;
    margin-left: 5px;
    cursor: help;
    padding-right: 0;
}

.tooltip {
        color: black;
        font-size: 15px;
	position:absolute;
	background-color:#eeeefe;
	border: 1px solid #aaaaca;
        border-radius: 5px;
	padding: 4px;
	width: 200px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);	
}

/*VER AMIGOS Y PREGUNTAS FRECUENTES
========================================================================= */
.contenedorAmigo, .contenedorPreguntas, .contenedorAvisoLegal {
    width: 80%;
    opacity: 0.8;
    margin: 50px auto;
    background-color: white;
    -webkit-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
    color: black;
    padding: 25px;
}

.contenedorPreguntas ul {
    list-style-type: circle;
    padding: 30px;
}

.contenedorPreguntas ul.beneficios {
    padding: 10px 0 0 30px;
}

/*RESPONSIVE
========================================================================= */

/*Para resoluciones a partir de 900px*/
@media only screen and (min-width: 900px) {

    .container {
        width: 45%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .contenedorAmigo, .contenedorPreguntas {
        font-size: 20px;
    }

    .contenedorAmigo h2, .contenedorPreguntas h2 {
        font-size: 50px;
        margin: 20px;
        color: #4cb164;
    }

    .tooltip {
        font-size: 17px;
        width: 350px;
    }
  
  	p.listadoUsuarios {
  		font-size: 22px;
	}
  
  	h3.nombreListadoUsuarios {
  	font-size: 25px;
}

}
	