RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^inicio index.php [L]

RewriteRule ^menus-privados/ php/menus.php [L]
RewriteRule ^galeria/ php/galeria.php [L]
RewriteRule ^eventos/ php/eventos.php [L]
RewriteRule ^reservas-tarifas/ php/reservas.php [L]
RewriteRule ^contacto/ php/contacto.php [L]

RewriteRule ^envio-correcto php/envioCorrecto.php [L]
RewriteRule ^envio-fallido php/envioFallido.php [L]
RewriteRule ^aviso-legal-y-politica-de-privacidad php/avisoLegal.php [L]

RewriteRule ^menus/ php/menus.php [L]