@charset "ISO-8859-1";

@font-face {
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Montserrat-UltraLight;
	src: url(../fonts/Montserrat-UltraLight.otf);
}

h1, h2, h3, h4, p, ul, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: Montserrat-Bold;
}

ul {
	list-style: none;
}

a, a:hover, a:focus {
	text-decoration: none;
}

/* BASE
   ========================================================================= */
html {
	width: 100%;
	overflow-x: hidden;
	font-size: 20px;
	position: relative;
	font-family: Montserrat-UltraLight;
}

body {
	margin-top: 20px;
}

h1 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;
}

h4 {
	margin: 5px 0;
}

p {
	font-size: 15px;
}

a.mostrar_menus {
	text-decoration:none;
	font-weight: 600;
	font-size: 20px;
	color:black;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
	background-color:#9bd155;;
	border-color: #d8d8d8;
	border-width: 3px;
	border-style: solid;
	border-radius:35px;
}

a.mostrar_menus:hover {
	opacity: 0.9;
	color:black;
}

/* HEADER
   ========================================================================= */

/* CABECERA CON MENU DE NAVEGACION */
header {
	display: block;
}

.titulo_movil {
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	background-color: white;
	z-index: 99;
}

.titulo_movil img {
	height: 50px;
}

nav {
	margin-top: 10px;
}

/* Hacemos flexible la lista del nav. */
nav>ul {
	display: flex;
	justify-content: space-around;
	font-family: Montserrat-Bold;
	position: fixed;
	background-color: white;
	margin-top: -20px;
	padding-top: 10px;
}

nav>#lista_principal_index {
	width: 100%;
	z-index: 99;
	font-size: 11px;
}

#galeria, #eventos, #reservas, #menus, #productos, #contacto {
	display: none;
}

#galeria2 a:hover, #eventos2 a:hover, #reservas2 a:hover, #menus2 a:hover, #productos2 a:hover, #contacto2 a:hover {
	color: #9bd155;
}

nav>ul>li {
	padding: 1.5px;
	padding-top: 2px;
}

nav>ul>li>a {
	color: black;
}

nav>ul>li>a:hover, nav>ul>li>a:hover>.fa {
	color: #9bd155;
}

a.seleccionado {
	color: #9bd155;
}

/* Inicio ocupara todo el espacio sobrante */
#inicio {
	flex: 1 1 auto;
	padding-left: 0;
}

#inicio img {
	height: 40px;
	padding-left: 10px;
}

#inicio img:hover {
	height: 75px;
	transition: height 0.5s;
	opacity: 2;
}

.fa {
	color: black;
	padding-right: 8px;
	font-size: 1.8rem;
	cursor: pointer;
}

/* Mostramos el menu para dispositivos moviles*/
nav>ul>li#menu_moviles {
	display: inline;
}

/* Lista del menu para dispositivos moviles, la ocultamos y luego la mostraremos con Jquery */
nav>ul>li>ul#lista_movil {
	background-color: white;
	right: 0;
	padding: 5px 10px 5px 10px;
	color: black;
	display: none;
	position: absolute;
	border-radius: 5px;
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 14%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 76%);
	background: -webkit-gradient(bottom top, up top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(14%, rgba(219,219,219,1)), color-stop(58%, rgba(244,244,244,1)), color-stop(76%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 14%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 76%);
	background: -o-linear-gradient(bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 14%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 76%);
	background: -ms-linear-gradient(bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 14%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 76%);
	background: linear-gradient(to up, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 14%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 76%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

nav>ul>li>ul#lista_movil a {
	color: black;
	font-size: 17px;
}

nav>ul>li>ul#lista_movil ul#listaAutores a, nav>ul>li>ul#lista_movil ul#listaTitulos a {
	font-size: 17px;
}

nav>ul>li>ul#lista_movil li {
	padding: 5px;
}

/* PRESENTACION
   ========================================================================= */
.presentacion {
	text-align: center;
	font-size: 20px;
}

.presentacion {
	padding-top: 100px;
}

/* CIRCULOS
   ========================================================================= */
.contenedor_circulos {
	text-align: center;
	font-family: Montserrat-Bold;
	margin-bottom: 50px;
	margin: 0 auto;
}

.circulo {
	border-radius: 250px;
	text-align: center;
	height: 250px;
	width: 250px;
	display: inline-block;
	margin: 20px;
	font-size: 20px;
	opacity: 1;
}

.verde {
	background-color: #9bd155;
}

.rojo {
	background-color: #ff3123;
}

.amarillo {
	background-color: #d8c12d;
}

.circulo h2 {
	position: relative;
	top: 45%;
	color: black;
	font-size: 20px;
}

.opacidad {
	opacity: 1;
}

/* RESERVAS Y TARIFAS
   ========================================================================= */
h3.titulo_reservas {
	text-align: center;
	margin-bottom: 20px;
}

.contenedor_reservas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 100px;
}

/* TARIFAS */
.tarifas h3, .calendario h3, .texto_descriptivo h3 {
	margin-bottom: 20px;
}

.texto_descriptivo ul {
	font-size: 15px;
}

.tarifas {
	margin: 10px 10px 25px;
	width: 500px;
	text-align: center;
	display: inline-block;
}

.tarifas table p {
	font-size: 12px;
}

.tarifas table p.subtitulo {
	font-size: 10px;
}

.tarifas table td {
	width: 25%;
}

.explicacion_tarifas {
	margin: 25px;
	text-align: left;
}

.explicacion_tarifas ul {
	margin-left: 25px;
	font-size: 15px;
}

.explicacion_tarifas ul>li {
	margin-bottom: 15px;
}

.titulo_verde {
	background-color: #9bd155;
	height: 50px;
}

.titulo_amarillo {
	background-color: #d8c12d;
	height: 50px;
}

.tarifas img {
	height: 280px;
}

/* CALENDARIO */
.ordenador {
	display: none;
}

.calendario {
	margin: 5px;
	width: 500px;
	text-align: center;
	display: inline-block;
}

.texto_descriptivo {
	margin: 5px;
	width: 80%;
	text-align: left;
	display: inline-block;
	padding: 0 10px;
}

.ordenador {
	display: none;
}

.calendario iframe {
	height: 300px;
	width: 300px;
}

.contenedor_formulario {
	margin: 50px 25px;
	text-align: center;
}

.formulario {
	width: 90%;
	margin: 0 auto;
	font-size: 15px;
}

.formulario h2 {
	text-align: center;
	margin: 10px;
	margin-bottom: 25px;
}

.formulario input {
	width: 40%;
	margin-bottom: 5px;
}

.formulario textarea.comentario {
	width: 40%;
	margin-left: 21px;
}

.formulario textarea.consulta {
	width: 40%;
	margin-left: 49px;
}

.formulario input.nombre {
	margin-left: 50px;
}

.formulario input.mail {
	margin-left: 70px;
}

.formulario input.telefono {
	margin-left: 50px;
}

.formulario input.dia {
	margin-left: 87px;
}

.formulario input.hora_entrada {
	margin-left: 17px;
}

.formulario input.hora_salida {
	margin-left: 33px;
}

.formulario input#condiciones, .formulario input#whatsapp {
	margin-left: 0;
	width: 20px;
	margin-top: 25px;
}

.condiciones, .whatsapp {
	text-align: left;
	margin-left: 10px;
}

form a {
	color: black;
}

form a:hover {
	#9bd155
}

.boton {
	text-align: center;
}

.btn {
	margin-top: 15px;
	font-family: Montserrat-UltraLight;
	font-size: 15px;
	border-radius: 5px;
	padding: 6px;
}

.btn:hover {
	color: grey;
}

.btn:active {
	padding: 8px 4px 4px 8px;
}

/* EVENTOS
   ========================================================================= */
.evento_principal {
	text-align: center;
}

.evento_principal h3 {
	font-size: 20px;
	margin: 0 10px;
}

img.img_ordenador {
	display: none;
}

.evento_principal img {
	height: 450px;
}

.explicacion_evento {
	width: 80%;
	margin: 20px auto;
	text-align: left;
}

/*CONTENEDOR EVENTOS SECUNDARIOS*/
h3.eventos_pasados {
	margin: 35px 0 25px;
	font-size: 20px;
	text-align: center;
}

.evento_secundario h3 {
	font-size: 18px;
	margin: 15px;
	text-align: center;
}

.evento_secundario>.explicacion_evento {
	width: 100%;
	margin: 20px 0;
}

.contenedor_eventos_secundarios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.evento_secundario {
	margin: 20px;
	min-width: 280px;
	max-width: 350px;
	flex: 1 1 250px;
	flex-flow: row wrap;
	text-align: center;
}

.evento_secundario img {
	width: 80%;
}

/* GALERIA
   ========================================================================= */
.explicacion {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	padding-top: 100px;
}

.productos {
	padding-top: 20px;
}

.productos h3 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.contenedor_fotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.foto {
	min-height: 250px;
	background-size: cover;
	margin: 10px;
	width: 300px;
}

/* PRODUCTOS
   ========================================================================= */
.select_productos {
	margin: 30px auto;
	text-align: center;
	font-size: 17.1px;
}

.select_productos select {
	margin-top: 10px;
    padding: 3px 5px;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: 3px 7px #888888;
    background-color: #9bd155;
    font-family: Montserrat-UltraLight;
    font-size: 15px;
}

select:focus {
    outline:0px;
}

.contenedor_productos h3 {
	text-align: center;
	font-size: 20px;
	margin: 40px 0 15px;
}

.contenedor_productos {
	width: 80%;
	margin: 0 auto;
}

ul.lista_productos, ul.lista_productos_comida {
	margin-top: 25px;
}

ul.lista_productos_comida {
	width: 90%;	
	margin: 0 auto;
}

ul.lista_productos_comida li {
	margin-bottom: 15px;
}

.producto {
	margin-top: 35px;
}

.producto h3 {
	margin: 5px 0;
	font-size: 22px;
}

.img_producto, .texto_producto, .precio_producto, .texto_producto_comida,
	.precio_producto_comida {
	margin-top: 15px;
	display: inline-block;
}

.img_producto {
	width: 30%;
	text-align: center;
}

.texto_producto {
	width: 41%;
	padding-left: 10px;
}

.precio_producto {
	width: 15%;
	padding-left: 5px;
	text-align: right;
}

.texto_producto_comida {
	width: 58%;
	padding-left: 10px;
}

.precio_producto_comida {
	width: 35%;
	text-align: right;
}

.img_producto img {
	height: 150px;
	width: auto;
}

.img_producto_comida {
	width: 100%;
	text-align: center;
}

.img_producto_comida img {
	height: 220px;
	width: auto;
}

img.queso {
	height: 150px;
}

.menus_opciones {
	margin-top: 35px;
	text-align: center;
}

/* MENUS PRIVADOS
   ========================================================================= */
.contenedor_menus {
	width: 100%;
	margin: 0 auto;
}

.contenedor_menus h3 {
	margin-top: 30px;
	text-align: center;
	font-size: 18px;
}

.menu {
	width: 80%;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.texto_menu, .img_menu {
	margin: 20px auto;
}

.img_menu {
	text-align: center;
}

.img_menu img {
	width: auto;
	height: 300px;
}

/* MENÚS NAVIDAD */

.img_navidad img {
	width: auto;
	height: 550px;
	padding: 15px;
}

/* MENÚS INFANTILES */

.menu_infantil {
	padding: 15px;
	background-color: #f5f5f5;
	font-size: 17px;
	position: absolute;
	top: 150px;
	display: none;
	z-index: 9999999;
	box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.75);
	width: 75%;
}

.menu_infantil>h2 {
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}

.imagenes_menu_infantil {
	text-align: center;
}

.imagenes_menu_infantil img {
	width: 90%;
	margin-bottom: 25px;
	max-width: 300px;
}


/* CONTACTO
   ========================================================================= */
.contenedor_contacto h3 {
	margin: 0 35px 35px 35px;
	text-align: center;
}

.contenedor_contacto {
	width: 90%;
	margin: 0 auto;
	padding-top: 100px;
}

.contenedor_contacto a {
	color: black;
}

.contenedor_contacto a:hover {
	color: #d8c12d;
}

/* TEXTOS LEGALES
   ========================================================================= */
.contenedor_texto {
	width: 90%;
	margin: 20px auto;
	text-align: left;
}

.contenedor_texto h3 {
	margin: 0 35px 35px 35px;
	text-align: center;
	font-size: 18px;
}

/* COOKIES
   ========================================================================= */
#overbox3 {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
	display: block;
}

#infobox3 {
	margin: auto;
	position: relative;
	top: 0px;
	height: 73px;
	width: 100%;
	text-align: center;
	background-color: #1A1A1A;
	color: white;
}

#infobox3 p {
	padding: 5px;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
}

#infobox3 p a {
	text-decoration: none;
}

#infobox3 p a.mas_informacion {
	color: #d8c12d;
}

#infobox3 p a.aceptar {
	color: #9bd155;
}

#infobox3 p a:hover, #infobox3 p a:focus {
	color: #4cb164;
}

/* FOOTER
   ========================================================================= */
footer {
	background-color: #ff3123;
	font-size: 15px;
	padding-top: 15px;
	color: white;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
}

.footerPrincipal {
	padding: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-flow: row wrap;
}

img.logo_hamburguesa {
	height: 50px;
	text-align: left;
}

.logo_footer, .informacion, .redes {
	width: 33%;
	display: inline-block;
}

.informacion {
	text-align: center;
	display: none;
}

.redes {
	text-align: right;
}

footer a {
	text-decoration: none;
	color: white;
}

footer .fa {
	font-size: 25px;
	color: white;
}

footer .fa:hover, a:hover {
	color: #d8c12d;
}

.espacio {
	margin-top: 10px;
}

.oculto_movil {
	display: none;
}

.oculto_movil_footer {
	display: none;
}

.redes a {
	color: white;
}

footer h3 {
	margin-bottom: 10px;
}

/*RESPONSIVE
========================================================================= */

/* Para resoluciones a partir de 500px */
@media only screen and (min-width: 500px) {
	.select_productos {
		font-size: 20px;
	}
	.texto_producto {
		width: 33%;
	}
	.precio_producto {
		width: 15%;
		text-align: right;
	}
	.img_producto img {
		height: 200px;
	}
	.img_producto_comida img {
		height: 250px;
	}
	img.queso {
		height: 200px;
	}
	.condiciones, .whatsapp {
		margin-left: 20px;
	}
	.menu_infantil {
		width: 400px;
	}
}

/* Para resoluciones a partir de 600px */
@media only screen and (min-width: 600px) {
	nav>ul>li>ul#lista_movil a {
		color: black;
		font-size: 19px;
	}
	nav>#lista_principal_index {
		padding-top: 25px;
	}
	#inicio img {
		height: 65px;
		margin-top: -10px;
		padding-left: 0;
	}
	.presentacion {
		text-align: center;
		font-size: 30px;
	}
	.foto {
		min-height: 300px;
		width: 400px;
	}
	.evento_principal img {
		height: 300px;
	}
	.contenedor_contacto {
		width: 50%;
		margin: 0 auto;
	}
	.contenedor_eventos {
		margin-top: 25px;
	}
	.contenedor_eventos_secundarios p {
		font-size: 16px;
	}
	.evento_secundario {
		text-align: center;
		max-width: 600px;
	}
	.tarifas {
		margin: 10px 10px 25px;
		width: 600px;
		text-align: center;
		display: inline-block;
	}
	.tarifas img {
		height: 450px;
	}
	.calendario, .texto_descriptivo {
		margin: 5px;
		max-width: 600px;
	}
	.ordenador {
		display: inline;
	}
	.movil {
		display: none;
	}
	.calendario iframe {
		height: 450px;
		width: 450px;
	}
	.texto_producto {
		width: 40%;
		padding-left: 30px;
	}
	.precio_producto {
		width: 15%;
		padding: 13px;
		text-align: right;
	}
	.img_producto img {
		height: 250px;
	}
	footer {
		font-size: 20px;
	}
	.condiciones, .whatsapp {
		margin-left: 40px;
	}
	
	.menu_infantil>h2 {
		font-size: 22px;
	}
	
	.imagenes_menu_infantil img {
		height: 600px;	
		width: auto;
		padding: 20px;
	}
}


/* Para resoluciones a partir de 700px */
@media only screen and (min-width: 700px) {
	img.img_ordenador {
		display: inline-block;
	}
	img.img_movil {
		display: none;
	}
	.condiciones, .whatsapp {
		margin-left: 75px;
	}
}

/* Para resoluciones a partir de 800px */
@media only screen and (min-width: 800px) {
	h1 {
		font-size: 30px;
	}
	.select_productos {
		font-size: 25px;
	}
	.select_productos select {
	    padding: 5px 8px;
	    font-size: 20px;
	}
	nav>#lista_principal_index {
		font-size: 24px;
	}
	.circulo h2 {
		font-size: 23px;
	}
	p {
		font-size: 20px;
	}
	.presentacion h3 {
		margin-bottom: 20px;
	}
	#infobox3 p {
		padding-top: 15px;
		font-size: 15px;
	}
	.explicacion p {
		padding-top: 25px;
	}
	.evento_principal img {
		height: 400px;
	}
	#infobox3 p {
		font-size: 18px;
	}
	.contenedor_texto {
		width: 80%;
	}
	.contenedor_texto h3 {
		font-size: 20px;
	}
	.tarifas table p {
		font-size: 17px;
	}
	.tarifas table p.subtitulo {
		font-size: 14px;
	}
	.titulo_verde {
		height: 70px;
	}
	.titulo_amarillo {
		height: 70px;
	}
	.tarifas h3, .calendario h3, .texto_descriptivo h3, .productos h3 {
		font-size: 25px;
	}
	.explicacion_tarifas p {
		font-size: 17px;
	}
	.explicacion_tarifas ul {
		font-size: 17px;
	}
	.texto_descriptivo ul {
		font-size: 20px;
	}
	.img_producto_comida {
		display: inline-block;
		width: 45%;
	}
	.img_producto_comida img {
		height: 200px;
	}
	img.queso {
		height: 150px;
	}
	.texto_producto_comida {
		width: 60%;
		padding-left: 10px;
	}
	.precio_producto_comida {
		width: 35%;
		text-align: right;
	}
	.condiciones, .whatsapp {
		margin-left: 120px;
	}
	.informacion {
		display: inline-block;
	}
	.oculto_movil_footer {
		display: inline-block;
	}
}

/* Para resoluciones a partir de 880px */
@media only screen and (min-width: 880px) {
	h1 {
		margin-top: 50px;
	}
	.condiciones, .whatsapp {
		margin-left: 150px;
	}
	.evento_secundario {
		min-width: 350px;
	}
}

/* Para resoluciones a partir de 1000px */
@media only screen and (min-width: 1000px) {
	nav>#lista_principal_index {
		margin-top: -25px;
		font-size: 19px;
	}
	nav>ul>li {
		padding: 9px;
	}
	#inicio img {
		margin-top: -20px;
	}
	#galeria, #eventos, #reservas, #menus, #productos, #contacto {
		display: block;
	}
	nav>ul>li#menu_moviles {
		display: none;
	}
	.circulo {
		border-radius: 250px;
		text-align: center;
		height: 250px;
		width: 250px;
		display: inline-block;
		margin: 20px;
		font-size: 20px;
		opacity: 0.85;
	}
	.circulo:hover {
		opacity: 1;
		transition: opacity 1s;
	}
	.evento_principal h3 {
		font-size: 30px;
	}
	.contenedor_eventos_secundarios p {
		font-size: 19px;
	}
	h3.eventos_pasados {
		margin-top: 55px;
		font-size: 30px;
	}
	.evento_secundario h3 {
		font-size: 26px;
	}
	.explicacion p {
		padding-top: 35px;
	}
	.explicacion_evento {
		margin: 40px auto;
	}
	.tarifas {
		margin: 35px 10px 25px;
		width: 600px;
		text-align: center;
		display: inline-block;
	}
	.tarifas img {
		height: 550px;
	}
	.calendario, .texto_descriptivo {
		margin: 35px 60px 15px 0;
		max-width: 700px;
	}
	.calendario iframe {
		height: 650px;
		width: 650px;
	}
	.contenedor_formulario {
		margin: 25px;
		text-align: center;
	}
	.boton {
		text-align: center;
	}
	.btn {
		margin-top: 15px;
		font-family: Montserrat-UltraLight;
		font-size: 15px;
		border-radius: 5px;
		padding: 6px;
	}
	.contenedor_menus h3 {
		margin-top: 40px;
		font-size: 25px;
	}
	.img_menu img {
		width: auto;
		height: 400px;
	}
	footer .fa {
		font-size: 40px;
	}
	.oculto_movil {
		display: inline-block;
	}
	.evento_principal img {
		height: 500px;
	}
	.contenedor_eventos {
		margin-top: 40px;
	}
	.evento_secundario {
		max-width: 600px;
	}
	.contenedor_contacto h3 {
		font-size: 35px;
	}
	.formulario {
		width: 50%;
		margin: 0 auto;
		font-size: 20px;
	}
	.formulario h2 {
		text-align: center;
		margin: 10px;
	}
	.formulario input {
		width: 70%;
	}
	.formulario textarea.comentario {
		width: 70%;
		margin-left: 5px;
	}
	.formulario textarea.consulta {
		width: 70%;
		margin-left: 43px;
	}
	.formulario input.nombre {
		margin-left: 45px;
	}
	.formulario input.mail {
		margin-left: 70px;
	}
	.formulario input.telefono {
		margin-left: 45px;
	}
	.formulario input.dia {
		margin-left: 94px;
	}
	.formulario input.hora_entrada {
		margin-left: 1px;
	}
	.formulario input.hora_salida {
		margin-left: 20px;
	}
	.contenedor_texto {
		width: 70%;
	}
	.contenedor_texto h3 {
		font-size: 25px;
	}
	.contenedor_productos {
		width: 60%;
	}
	.condiciones, .whatsapp {
		margin-left: 0px;
	}
	.img_navidad img {
		height: 700px;
	}
	.menu_infantil {
		width: 900px;
	}
	.menu_infantil>h2 {
		font-size: 25px;
	}
	.imagenes_menu_infantil img {
		height: 800px;	
		max-width: 500px;
		padding: 20px;
	}
	.contenedor_formulario {
		margin: 80px 25px;
	}
}

/* Para resoluciones a partir de 1250px */
@media only screen and (min-width: 1250px) {
	h1 {
		margin-top: 60px;
		font-size: 35px;
	}
	#inicio {
		display: inline-block;
	}
	.titulo_movil {
		display: none;
	}
	nav {
		margin-top: 0;
	}
	nav>ul>li {
		padding: 20px;
	}
	.circulo { 0
		border-radius: 300px;
		text-align: center;
		height: 300px;
		width: 300px;
		display: inline-block;
		margin: 100px 100px;
		font-size: 25px;
	}
	.evento_principal img {
		height: 650px;
	}
	.tarifas {
		margin: 35px 35px 25px;
		width: 700px;
		text-align: center;
		display: inline-block;
	}
	.tarifas img {
		height: 600px;
	}
	.calendario, .texto_descriptivo {
		max-width: 750px;
	}
	.contenedor_texto {
		width: 70%;
	}
	.condiciones, .whatsapp {
		margin-left: 50px;
	}
	
}

/* Para resoluciones a partir de 1400px */
@media only screen and (min-width: 1400px) {
	nav>#lista_principal_index {
		font-size: 22px;
	}
	.fixed_abajo {
		position: fixed;
		bottom: 0;
	}
	.evento_principal img {
		height: 730px;
	}
	.contenedor_productos {
		width: 50%;
	}
	.condiciones, .whatsapp {
		margin-left: 60px;
	}
	ul.lista_productos_comida {
		width: 70%;	
	}
	.contenedor_formulario {
		margin: 100px 25px;
	}
}

/* Para resoluciones a partir de 1600px */
@media only screen and (min-width: 1600px) {
	.img_producto_comida img {
		height: 200px;
	}
}
